.center {
  margin-top: 30px;
  .smallheader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .button {
      color: black;
    }
    .button:hover {
      cursor: pointer;
      color: red;
    }

    .disnify {
      color: black;
    }
    .profileimage {
      // display: flex;
      // justify-content: center;
      img {
        border-radius: 75px;
        width: 100px;
        height: 100px;
      }
    }
  }

  .tracklist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
