.center {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 30px;

  .smallheader {
    font-family: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .button {
      color: black;
    }
    .button:hover {
      cursor: pointer;
      color: red;
    }

    .disnify {
      font-family: inherit;
      color: black;
    }
    .profileimage {
      // display: flex;
      // justify-content: center;
      img {
        border-radius: 75px;
        width: 100px;
        height: 100px;
      }
    }
  }
  .titleBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: inherit;
    margin-top: 50px;

    .title {
      font-family: inherit;
      text-align: center;
    }

    .findoutbtn {
      font-family: inherit;
      font-size: 30px;
      text-align: center;
      :hover {
        cursor: pointer;
        color: red;
      }
    }
  }

  .tracklist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .analysisBox {
    text-align: center;
    position: relative;
    span,
    analysisText {
      font-size: 30px;
      text-align: inherit;
      color: rebeccapurple;
    }
  }
}
